@keyframes right {
  0% {
    background-color: green;
    background-color: rgba(0, 255, 0, 0.25);
  }
  100% {
    background-color: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes wrong {
  0% {
    background-color: red;
    background-color: rgba(255, 0, 0, 0.25);
  }
  100% {
    background-color: none;
    background-color: rgba(0, 0, 0, 0);
  }
}

/* IMO border-box is more intuitive and should be the default */
*, *::before, *::after {
  box-sizing: border-box;
}

/* make the page take up the whole page */
html, body {
  width: 100vw;
  min-height: 100vh;
}

#app {
  /* center on page, filling width but not stretching too wide */
  max-width: 800px;
  margin: 0 auto;
}

#app, #experiment {
  height: 100%;
}

#page-title {
  padding:10px;
}

/* must be flex with height 100vh to push disclaimer to bottom */
#instructions {
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#instructions #sample-video {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
#instructions #sample-video video {
  width: 100%;
}

/* push start button to right of screen, give it some space */
#start-button, #submit-button {
  display: block;
  margin: 8px 0;
  margin-left: auto;
}

/* push disclaimer to bottom, give it a thin line above */
#disclaimer-box {
  margin-top: auto;
  border-top: 1px solid lightgray;
}

/* needed to prevent scrolling for some reason */
#custom-experiment, #main-interface {
  max-height: 100vh;
}

/* padding determines border (on right/wrong) thickness */
#main-interface {
  padding: 16px;
  border-radius: 10px;
  background-color: none;
}

/* makes the video fill the screen with a 16:9 aspect ratio */
#video-and-progress {
  width: 100%;
  /* 45px is the sum of the padding and progressbar height */
  /* 1.777 is 16/9 */
  max-width: calc((100vh - 45px) * 1.777);
  margin: 0 auto; /* center */
}

/* we need to show all videos with the same viewport
we do this by having a smaller container with hidden overflow */
#video_container {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  /* video size may exceed the container: hide the excess */
  overflow: hidden;
  /* allow video to stretch to fill */
  position: relative;
}

#video_container > video {
  /* we have many video elements but only want to show the top one */
  display: none;
  /* picture fill whole element without stretching (cropping if necessary) */
  object-fit: cover;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
}

/* override style to make top video show */
#video_container > video:first-child {
  display: initial;
}

#progress-bar {
  width: 100%;
}

#endGame {
  text-align: center;
}

.graph-header {
  font-size: 1.5rem;
}

.graph-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
}

.graph {
  border-radius: 10px;
  margin: 20px;
  margin-top:5px;
}

#graph-accuracy {
  background-color: #eff3ff;
}

#graph-earnings {
  background-color: #f0ffef;
}

/* D3 CSS */
.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke-width: 5px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus {
  fill: lightgrey;
  stroke: black;
}

.radial-progress __text {
  font-family: Arial, sans-serif;
  font-size: 40em !important;
  font-weight: bold;
}

.results-text {
  font-weight: bold;
  font-size: 25pt;
}

#score-text {
  margin-top: 40px;
  margin-bottom: 0px;
}

#score-verdict {
  margin-top: 0px;
  margin-bottom: 40px;
}

#lives i {
  font-size: 3em;
  color: red;
}

#lives p {
  color: pink;
  font-weight: bold;
  font-size: 25px;
}

#submit-button {
  margin-right: 16px;
}

/* these only show up in dev mode */
#custom-experiment button {
  width: 80px;
  margin-top: 16px;
}

.center-text {
  text-align: center;
}

#gif-instructions {
  display: inline-block;
  text-align: center;

}

.instructions-img {
  height:230px;
}
