@keyframes right {
  0% { background-color: rgb(0, 255, 0, 0.25); }
  100% { background-color: rgba(0, 0, 0, 0); }
}

@keyframes wrong {
  0% { background-color: rgb(255, 0, 0, 0.25); }
  100% { background-color: rgba(0, 0, 0, 0); }
}



#custom-experiment {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%
}

#main-interface {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  /* determines border thickness */
  /* top is already set due to progress and vid container size */
  /* right gets increased in js if lifebar is visible */
  padding: 0 16px;
  width: 80%;
  text-align: center;
}

#custom-experiment button {
  width: 80px;
  margin-top: 16px;
}

/* we need to show all videos with the same viewport
we do this by having a smaller container with hidden overflow */
#video_container {
  /* video size: 16:9 aspect ratio */
  width: 100%;
  padding-bottom: calc(9/16 * 100%);
  /* video size will exceed the container: hide the excess */
  overflow: hidden;
  /* maintain main-interface size when lifebar hidden */
  margin-top: 16px;
  position: relative;
}

#video_container > video {
  /* we have many video elements but only want to show the top one */
  display: none;
  /* picture fill whole element without stretching (cropping if necessary) */
  object-fit: cover;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  width: 100%;
  height: 100%;
}

/* override style to make top video show */
#video_container > video:first-child {
  display: initial;
}

#progress-bar {
  width: 480px;
  margin-top: 10px;
  margin-right: auto;
}

#score-box {
  margin-top: 20px;
  background-color: lightgray;
  display: inline-block;
  align-items: center;
  padding: 20px 40px;
  border-radius: 10px;
}

.graphs {
  /* display: flex;
  flex-flow: wrap; */
}

.graph-container {
  display: flex;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center;
  align-items: center;
  flex-flow: wrap;
  text-align: center;

}

.graph-header {
  font-size: 16pt
}

#graph-accuracy {
  display: inline-block;
  background-color: #eff3ff;
  border-radius: 10px;
  margin: 20px;
  margin-top:5px;
}

#graph-earnings {
  display: inline-block;
  background-color: #f0ffef;
  border-radius: 10px;
  margin: 20px;
  margin-top:5px;
}

/* D3 CSS */

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/* .x.axis path {
   display: none;
} */

.line {
  fill: none;
  stroke-width: 5px;
}



.overlay {
  fill: none;
  pointer-events: all;
}

.focus {
  fill: lightgrey;
  stroke: black;
  /* border: 7px solid steelblue;
  border-image: linear-gradient(center, #00C853, #B2FF59); */
  /* -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); */
}



/* Radial Percentage CSS */

/* #score-radial {
  padding: 20px;
  margin: 20px;
} */

.radial-progress __text {
  font-family: Arial, sans-serif;
  font-size: 40em !important;
  font-weight: bold;
}

#score-text {
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 0px;
  font-size: 25pt;
  color: steelblue;
}
