*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: initial;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#page-title {
  margin-top: 10px;
}

#sample-task {
  display: none;
}

#instructions-demo {
  border: 1px solid black;
  margin-bottom: 10px;
}

.instructions-img {
  width: 100%;
}

#experiment {
  display: none;
}

#disclaimer-box {
  color: #444;
}

.ui.label {
  margin-bottom: 5px;
}

#submit-button {
  display: none;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

#instructions {
  flex: 1;
  margin: 0;
}

#disclaimer-box {
  margin-top: auto;
  border-top: 1px solid lightgray;
}

#start-button {
  display: none;
}
